.brands{
    border-bottom: 1px groove;
    padding-bottom: 4rem;
    margin: 4rem 0;
    text-align: center;
}
.first3imgs{
  height: 3rem;
}
.remimgs{
  height: 2.3rem;
  padding-top: 1rem;
}
@media screen and (max-width: 599px) {
    .first3imgs{
        height: 3.4rem;
      }
      .remimgs{
        height: 2.8rem;
      }
}
@media screen and (max-width: 300px) {
    .first3imgs{
        height: 2rem;
      }
      .remimgs{
        height: 1rem;
      }
}