.typo{
    float: right;
}
.img{
    height: 1.5rem;
    float: right;
    padding: 0 1rem;
    cursor: pointer;
}
.General{
   padding-left: 1rem; 
}
.paper{
    height: 5rem;
    display: grid;
    align-content: center;
    background-color: white;
    margin: 1rem 0;
    border-radius: 10px;
    box-shadow:0 1px 3px rgba(24, 24, 24, 0.3);
}